 .ml__whatML{
display: flex;
flex-direction: column;

padding: 2rem;
background: #000;

 /* ff 3.6+ */
 background: -moz-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

 /* safari 5.1+,chrome 10+ */
 background: -webkit-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

 /* opera 11.10+ */
 background: -o-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

 /* ie 10+ */
 background: -ms-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

 /* global 92%+ browsers support */
 background: radial-gradient(circle at 30% -100%, #000000 85%, #6400A1 100%);
}

.ml__whatML-feature {
    display: flex;
    margin: 0 8rem;
    text-align: justify;

}

.ml__whatML-feature .ml__features-container__feature {
    margin: 0;
}

.ml__whatML-feature .ml__features-container__feature-text {
    max-width: 700px;
}

.ml__whatML-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 8rem 2rem;
}

.ml__whatML-heading h1 {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 1000;
    line-height: 45px;
    max-width: 1000px;

}

.ml__whatML-heading p {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

    color: var(--color-subtext);
    cursor: pointer;

}

.ml__whatML-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem 8rem;

    margin-top: 2rem;
}

.ml__whatML-container .ml__features-container__feature {
    flex: 1;
    flex-direction: column;
    min-width: 210%;
    display: unset;
    margin: 1rem;
 }

 .ml__whatML-container .ml__features-container__feature {
    
    margin-top: 0.5rem;
 }
 


  @media screen and (max-width: 850px){
   .ml__whatML-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
   }

   .ml__whatML-heading p {
    margin-top: 1rem;
   }

  }

  @media screen and (max-width: 650px){
   
    .ml__whatML-heading h1 {
        line-height: 40px;
        font-size: 24px;
       }



    .ml__whatML-feature .ml__features-container__feature {
       flex-direction: column;
    }
    
    .ml__whatML-feature .ml__features-container__feature-text {
        margin-top: 0.5rem;
    }
   
  }

  @media screen and (max-width: 350px){
   
  }

  .ml__whatML-container .ml__features-container__feature {
    min-width: 100%;
    margin: 1rem 0;
 }
 



