.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    min-height: 528px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1.5rem;
    color: black;
    font-weight: 900;
    font-size: 18px;
    font-family: var(--font-family);
  }
  
  .plan-card h2 {
    margin-bottom: 1.25rem;
    font-weight: 900;
    font-size: 4rem;
   
  }
  
  .plan-price {
    display: flex;
    align-items: baseline;
    font-size: 10rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
  }
  
  .plan-price div {
    font-size: 3.5rem;
    font-weight: 800;
  }
  
  .plan-price div:first-child {
    margin-right: 0.75rem;
  }
  
  .plan-features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
  }
  
  .plan-features li {
    display: flex;
    align-items: center;
  }
  
  .feature-icon {
    margin-right: 0.75rem;
    height: 1.75rem;
    width: 1.75rem;
  }
  
  .plan-button {
    margin-top: auto;
    border-radius: 1rem;
    background-color: black;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .plan-button:hover {
    background-color: rgba(0, 0, 255, 0.5);
  }

  .alert {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    font-family: var(--font-family);
    font-size: 25px;
    color: #031B34;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 300px; /* Adjust as needed */
    height: 120px; /* Adjust as needed */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .alert-close {
    padding: 0.5rem 2rem;
  color: #fff;
  background: var(--gradient-brandcustom);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  }
  

  /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .plan-card h2 {
      font-size: 1.25rem;
    }
    .plan-card h2 {
      font-size: 2.875rem;
    }
  
    .plan-price {
      font-size: 1.5rem;
    }
  
    .plan-price div {
      font-size: 2.75rem;
    }
  
    .plan-button {
      font-size: 1rem;
    }
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
    .plan-card {
      padding: 1.5rem;
      min-height: 350px;
    }
  
    .plan-card h2 {
      font-size: 2.875rem;
    }
  
    .plan-price {
      font-size: 1.5rem;
    }
  
    .plan-price div {
      font-size: 2.75rem;
    }
  
    .plan-button {
      font-size: 1rem;
    }
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    .plan-card {
      padding: 1rem;
      min-height: 300px;
    }
  
    .plan-card h2 {
      font-size: 2.875rem;
    }
  
    .plan-price {
      font-size: 1.5rem;
    }
  
    .plan-price div {
      font-size: 2.75rem;
    }
  
    .plan-button {
      font-size: 1rem;
    }

}
  