.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1rem;
    font-family: var(--font-family);
   
  }
  
  .pricing-header {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    text-align: center;
  }
  
  .pricing-header h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    padding: 1rem 0;
    font-size: 80px;
  }
  
  .pricing-header p {
    font-size: 1.25rem;
    color: white;
    font-size: 30px;
  }
  
  .pricing-plans {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
  }
  
  @media screen and (min-width: 1200px) {
    .pricing-plans {
      flex-direction: row;
    }

      
      /* Small devices (landscape phones, less than 768px) */
      @media screen and (min-width: 768px) {
        .pricing-plans {
          flex-direction: row;
        }
      }


}
  