/* Global Styles */
*{
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

/* Body Styling */
body{
  background: black;
}

/* Anchor Tag Styling */
a{
  color: unset;
  text-decoration: none;
}

/* Gradient Background */
.gradient__background 
{
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 5% 25%, #002853 0%, #6400A1 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(ccircle at 5% 25%, #002853 0%, #000 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 5% 25%, #002853 0%, #000 100%);
}

/* Ml-algo Background */
.machine-background{
  background: black;
}

.algo-background{
  background-image: url(../assets/black.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;

}

/* Brand Logo Background */
.brand-logo-background{
  background-image: url(../assets/purple.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;

}

/* Sign In Background */
.signIn-background{
  background-image: url(../assets/purple.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__text-algo{
    background: var(--gradient-text-algo);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}

/* Scale Up Animation */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Keyframes for Scale Up Animation */
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Responsive Design for Mobile Devices */
@media screen and (max-width: 700px){
  .section__margin{
    margin: 4rem;
  }
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px){
  .section__margin{
    margin: 4rem 2rem;
  }
  .section__padding {
    padding: 4rem 2rem;
  }
}

